

<!DOCTYPE html>
<html>
  <head>
    <title>MyBasecamp1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
        <p class="notice"><%= notice %></p>
        <p>You are a [<%= current_user.role %>]</p>
        <% if current_user.admin? %>
        There are <%= User.count %> user in the system
        <% end %>
        <p class="alert"><%= alert %></p>
    <div class="">
        <section class="container">
        <center>
        <h2 class='title'>Welcome to BaseCamp <%= link_to current_user.username, user_path(current_user.id) %></h2>
        <hr>

        <div class="row">
            <div class="col-sm">
                <h5 class="top">
                    <img  width="20px" src="https://img.icons8.com/ios/50/000000/medical-id.png"/>
                    All projects
                </h5>
                <br>
                <div class="card" style="width: 18rem;" >
                    <div class="card-body">
                        <h6 class="card-title space">
                        <label>
                        <form method="post" action="showP" class="show">
                                <input type="hidden" name="ppid" value="project name">
                                <input type="submit" value="Project creato" class="submit"><br><sub>Creator name</sub>
                        </form>
                        </label>
                        <form method="post" action="show">
                        <input type="hidden" name="ppid" value="project name">
                        <input type="image" alt="Submit" width="20px" src="https://img.icons8.com/windows/32/000000/settings--v1.png"/>
                        </form>
                        </h6>
                        <hr>
                        <h6 class="card-subtitle mb-2 text-muted">
                        <form method="post" action="showP" class="show">
                                <input type="hidden" name="ppid" value="project name">
                                <input type="submit" value="Project creato" class="submit">
                        </form>
                        </h6>
                        <hr>
                        <div class="buttom space">
                            <label>
                                <img width="20px" src="https://img.icons8.com/ios-filled/50/000000/group-foreground-selected.png"/>
                                <span></span>
                            </label>
                            <form method="post" action="project" class="btn btn-danger">
                            <input type="hidden" name="pid" value="">
                            <input type="image" alt="Submit" width="20px" src="https://img.icons8.com/wired/64/000000/filled-trash.png"/>
                            </form>
                        </div>
                    </div>
                </div>
                <br>
            </div>
                <div class="col-sm">
                    <h5 class="top">
                        <img width="20px" src="https://img.icons8.com/ios/50/000000/ball-point-pen.png"/>
                        Create by me
                    </h5>
                </div>
                <div class="col-sm">
                    <h6 class="top">
                        <img width="20px" src="https://img.icons8.com/ios-filled/50/000000/group-foreground-selected.png"/>
                        Shared with me
                    </h6>
                </div>

        </div>
        </center>
        </section>
    </div>


    <%= yield %>
  </body>
</html>


