
  <center><h1>Edit project</h1></center><br>

  <%= bootstrap_form_with model: @project, url: project_path(@project), method: :patch, local: true do |f| %>
  <div class="card mx-auto mg-10" style="width: 800px;">
    <div class="card-body mg-5">
      <div class="mb-3">
        <%= f.text_field :name %><br>
      </div>
      <div class="mb-3">
        <%= f.text_area :description %><br>
      </div>
      <div class="col text-center">
        <%= f.submit %>
      <div>
    </div>
  </div>
  <% end %><br>

<section class="create_project">
    <div style="width: 43rem;">
    <%= bootstrap_form_with model: @project, url: project_path(@project), method: :patch, local: true do |f| %>

    <% end %>
    <!--
      <form method="post" action="<%= add_user_project_path(@project) %>">
        <label>Add Member (email)</label>
        <div class="update">
          <input type="email" name="email" class="text_input" required>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="mySwitch" name="admin" value="yes" checked>
            <label class="form-check-label" for="mySwitch">Admin</label>
          </div>
          <button type="submit" class="btn  btn-primary">
            <img width="20px" src="https://img.icons8.com/ios-filled/50/000000/group-foreground-selected.png"/>
          </button>
        </div>
      </form>-->
      <center>
        <form method="post" action="<%= project_path(@project) %>" inputs>
          <input type="hidden" name="_method" value="delete">
          <input class="submit" type="submit" value="Delete project" style="background: red">
        </form>
      </center><br>
    </div><br>
        <div style="width: 50rem; background: white; border-radius: 10px;">
    <p style="text-align: center">All Members</p>
    <% if @members.present? %>
        <% @members.each do |member| %>
        <div class="update">
            <p>
            &nbsp; &nbsp; <%= member.username %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <% if member.admin? %>Admin<% else %>Not Admin<% end %>
            <form method="post" action="<%= update_user_project_path(@project) %>">

            </form>
            </p>
        </div>
        <% end %>
    <% end %>
  </form>
</section>
