<!-- app/views/projects/new.html.erb -->
<h2>Create New Project</h2>

<%= form_with(model: @project, url: projects_path) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.submit "Create Project" %>
<% end %>
